.App {
  flex-direction: column;
  
}

.step{
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color: rgb(152, 154, 156);
  display: flex;
  align-items: center;
  justify-content: center;
}
.steps{
 display: flex;
 flex-direction: row;
 justify-content: space-between;
 text-align: center;
 margin-top: 30px;
}

.btn{
  width: 80px;
  height: 30px;
  border-radius: 4px;
  border: solid none;
  background-color: green;
}